main{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.divLogin{
    background-color: #36454F;

}
.divEmail{
    background-color: #1a95e7;


}
.login{
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
}